body {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-family: 'Roboto', sans-serif;
}

#wrapper {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    padding:50px;
    width:60%;
    margin:100px 0;
}

#title {
    text-align:center;
    margin-bottom: 75px;
    margin-top:25px;
    font-weight: bold;
    font-size: 30px;
}