{% extends 'change/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <h4>Team Details</h4>
        </div>
        <div class="row">
            Team Name: {{ team.TeamName }}
        </div>
        <div class="row">
            Team Id: {{ team.Id }}
        </div>

        <div class="row mt-5">
            <h4>Team Members</h4>
        </div>

        {% for member in team.Members %}
            <div class="row">
                <p>{{ member.Name }} {{ member.Surname }}, {{ member.Mail }}</p>
            </div>
        {% endfor %}

        <div class="row mt-5">
            <a href="{% url 'login' %}" class="mt-3 badge badge-light">Logout</a>
        </div>
    </div>
{% endblock %}