{% extends 'change/base.html' %}

{% block content %}
    <div class="container">
        {%  if form.non_field_errors %}
            <div class="row alert alert-danger">
                {% for err in form.non_field_errors %}
                    {{ err }}
                {% endfor %}
            </div>
        {% endif %}

        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            <div class="form-group row">
                <label for="teamname">Team Name</label>
                {{ form.teamname }}
                {% if form.teamname.errors %}
                    <small id="passwordHelp" class="text-danger">
                        {% for error in form.teamname.errors %}{{ error }}{% endfor %}
                    </small>
                {% endif %}
            </div>
            <div class="form-group row">
                <label for="password">Password</label>
                {{ form.password }}
                {% if form.password.errors %}
                    <small id="passwordHelp" class="text-danger">
                        {% for error in form.teamname.errors %}{{ error }}{% endfor %}
                    </small>
                {% endif %}
            </div>

            <div class="row">
                <h4 class="mt-4">Team members</h4>
            </div>
            <div class="row">
                <div class="form-group col-sm-4 pl-0">
                    <label for="name_0">Name</label>
                    {{ form.name_0 }}
                    {% if form.name_0.errors %}
                        <small id="passwordHelp" class="text-danger">
                            {% for error in form.name_0.errors %}{{ error }}{% endfor %}
                        </small>
                    {% endif %}
                </div>
                <div class="form-group col-sm-4">
                    <label for="surname_0">Surname</label>
                    {{ form.surname_0 }}
                    {% if form.surname_0.errors %}
                        <small id="passwordHelp" class="text-danger">
                            {% for error in form.surname_0.errors %}{{ error }}{% endfor %}
                        </small>
                    {% endif %}
                </div>
                <div class="form-group col-sm-4 pr-0">
                    <label for="email">Email</label>
                    {{ form.email_0 }}
                    {% if form.email_0.errors %}
                        <small id="passwordHelp" class="text-danger">
                            {% for error in form.email_0.errors %}{{ error }}{% endfor %}
                        </small>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4 pl-0">
                    <label for="name_1">Name</label>
                    {{ form.name_1 }}
                    {% if form.name_1.errors %}
                        <small id="passwordHelp" class="text-danger">
                            {% for error in form.name_1.errors %}{{ error }}{% endfor %}
                        </small>
                    {% endif %}
                </div>
                <div class="form-group col-sm-4">
                    <label for="surname_1">Surname</label>
                    {{ form.surname_1 }}
                    {% if form.surname_1.errors %}
                        <small id="passwordHelp" class="text-danger">
                            {% for error in form.surname_1.errors %}{{ error }}{% endfor %}
                        </small>
                    {% endif %}
                </div>
                <div class="form-group col-sm-4 pr-0">
                    <label for="email_1">Email</label>
                    {{ form.email_1 }}
                    {% if form.email_1.errors %}
                        <small id="passwordHelp" class="text-danger">
                            {% for error in form.email_1.errors %}{{ error }}{% endfor %}
                        </small>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4 pl-0">
                    <label for="name_2">Name</label>
                    {{ form.name_2 }}
                    {% if form.name_2.errors %}
                        <small id="passwordHelp" class="text-danger">
                            {% for error in form.name_2.errors %}{{ error }}{% endfor %}
                        </small>
                    {% endif %}
                </div>
                <div class="form-group col-sm-4">
                    <label for="surname_2">Surname</label>
                    {{ form.surname_2 }}
                    {% if form.surname_2.errors %}
                        <small id="passwordHelp" class="text-danger">
                            {% for error in form.surname_2.errors %}{{ error }}{% endfor %}
                        </small>
                    {% endif %}
                </div>
                <div class="form-group col-sm-4 pr-0">
                    <label for="email_2">Email</label>
                    {{ form.email_2 }}
                    {% if form.email_2.errors %}
                        <small id="passwordHelp" class="text-danger">
                            {% for error in form.email_2.errors %}{{ error }}{% endfor %}
                        </small>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4 pl-0">
                    <label for="name_3">Name</label>
                    {{ form.name_3 }}
                    {% if form.name_3.errors %}
                        <small id="passwordHelp" class="text-danger">
                            {% for error in form.name_3.errors %}{{ error }}{% endfor %}
                        </small>
                    {% endif %}
                </div>
                <div class="form-group col-sm-4">
                    <label for="surname_3">Surname</label>
                    {{ form.surname_3 }}
                    {% if form.surname_3.errors %}
                        <small id="passwordHelp" class="text-danger">
                            {% for error in form.surname_3.errors %}{{ error }}{% endfor %}
                        </small>
                    {% endif %}
                </div>
                <div class="form-group col-sm-4 pr-0">
                    <label for="email_3">Email</label>
                    {{ form.email_3 }}
                    {% if form.email_3.errors %}
                        <small id="passwordHelp" class="text-danger">
                            {% for error in form.email_3.errors %}{{ error }}{% endfor %}
                        </small>
                    {% endif %}
                </div>
            </div>
            <div class="form-group row">
                <button type="submit" class="btn btn-dark">Register</button>
            </div>
        </form>
        <div class="row">
            <a href="{% url 'login' %}" class="mt-3 badge badge-light">Login</a>
        </div>
    </div>
{% endblock %}
