{% extends 'change/base.html' %}

{% block content %}
    <div class="container">
        {%  if form.non_field_errors %}
            <div class="row alert alert-danger">
                {% for err in form.non_field_errors %}
                    {{ err }}
                {% endfor %}
            </div>
        {% endif %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group row">
                <label for="teamname">Team Name</label>
                {{ form.teamname }}
                {% if form.teamname.errors %}
                    <small id="passwordHelp" class="text-danger">
                        {% for error in form.teamname.errors %}{{ error }}{% endfor %}
                    </small>
                {% endif %}
            </div>
            <div class="form-group row">
                <label for="password">Password</label>
                {{ form.password }}
                {% if form.password.errors %}
                    <small id="passwordHelp" class="text-danger">
                        {% for error in form.password.errors %}{{ error }}{% endfor %}
                    </small>
                {% endif %}
            </div>

            <div class="form-group row">
                <button type="submit" class="btn btn-dark">Login</button>
            </div>
        </form>
        <div class="row">
            <a href="{% url 'register' %}" class="mt-3 badge badge-light">Register</a>
        </div>
    </div>
{% endblock %}
